@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;600;800&display=swap');
html * {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}
body {
  font-family: 'Jost', sans-serif;
  background-position: center;
  background-image: url("img/ferramentas1.jpg");
  }
  h1{
  background-color: #1C7FA6;
  background-image: url("img/ferramentas1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid black;
  color: black;
  font-size: 48px;
  font-weight: 300;
  padding: 38px 24px;
  text-shadow: 1px 1px 1px #1C7FA6;
}
