@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;600;800&display=swap');
html * {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}
body {
  font-family: 'Jost', sans-serif;
  font-size: 30px;
  background-color:#BFBFBFB3;
    background-image: url("img/ferramentas3.jpg");
  }
h1 {
  background-color: #1C7FA6;
  background-image: url("img/ferramentas1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  color: #BF8E63;
  font-size: 48px;
  font-weight: 300;
  padding: 38px 24px;
  text-shadow: 4px 4px 4px #1C7FA6;
}
